.card {
  position: relative;
  width: 280px;
  height: 500px;
  padding: 0;
  border: 2px solid #000;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    box-shadow: 8px 7px 8px 15px rgba(34, 60, 80, 0.2);
  }
  &__img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__wrap {
    padding: 0 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__species,
  &__gender {
    padding: 5px;
  }
}
